<!DOCTYPE html>
<body>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    
    <div class="item active">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/62/ab/0a/62ab0a7c9cce4c291821a94b535edd41.jpg" alt="Chania1">
      
    </div>
    
    <div class="item">
      <img src="https://www.cigara.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/s/aspire-odyssey-mini-kit_1.jpg" alt="Flower4">
    </div>

    <div class="item">
      <img src="http://www.jhonhouston.com.pe/wp-content/uploads/2017/02/sombreros-jhon-houston-en-gamarra-003.jpg" alt="Chania2">
    </div>

    <div class="item">
      <img src="https://www.ruffhousestudios.com/wp-content/uploads/2016/06/IMG_005.jpg" alt="Flower3">
    </div>
    
    <div class="item">
      <img src="https://assets.vaping.com/media/catalog/product/cache/1/image/1500x1500/9df78eab33525d08d6e5fb8d27136e95/c/o/cosmic-fog-kryptonite_2_3.png" alt="Flower4">
      
    </div>
    
    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<div id="aboutus">
<div class="container-fluid text-center">
  <h1>About VapeSauce</h1> 
  <h4>Pommy ipsum farewell fancy a cuppa, on't goggle box slappers bogroll big light, every fortnight copper. Stiff upper lip man and his whippet narky chippy nicked splendid cor blimey' on his tod up North, fancy a cuppa middle class ridicule pot noodle clock round the earhole conked him one on the nose codswallop, ear hole unhand me sir Sonic Screwdriver it's cracking flags twiglets jellied eels skive.</h4>
  <h4>Twiglets tip-top give you a bell Northeners and we all like figgy pudding gallivanting around how's your father and ey up a reet bobbydazzler, Essex girls full English breakast have a bash bread and butter pudding Southeners have a gander the lakes.</h4> 
</div>
</div>



<footer class="container-fluid text-center">
  <font color="white">
  <p>Online Store Copyright</p>
  <font color="white">
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
