<!DOCTYPE html>
<head>
    <title>Contact VapeSauce</title>
</head>

<header>
    <h1>Contact Us</h1>
</header>

<body>
    <div id='form'>
        <form>
            <label>Name:</label></br>
            <input type="text" placeholder = "Gentlesir M'lady" name= "name"></br>
            <label>Email:</label></br>
            <input type="text" placeholder = "katanalord666@site.com" name= "email" required></br>
            <label>Comment:</label></br>
            <textarea></textarea></br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <p>You can also email us at thisisnotreal@all.com. Thank you for your input!</p>
</body>