// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#productindex-body{
    background-color: #e0e0e0;
}

.panel-body{
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px black;
}
.panel-footer{
    color: white !important;
}

div.text-center:nth-child(1) > h1:nth-child(1) {
    font-size: 5em;
}


a:hover, a:focus {
  color: white !important;
  text-decoration: underline;
}
#productindex-body > div.panel-footer > a{
    color:white;
}

.panel-footer  > a{
    color: white;
}
#categories{
    color: black;
}