img {
    border-radius: 8px;
    display: block;
    margin: auto;
}

h2 {
    color: black;
    text-align: center;
}
.abt{
    text-align:center;
}
p {

    font-size: 20px;
    text-align:center;
}

body#productshow-body{
    background-color: #e0e0e0;
}



