img {
    border-radius: 8px;
    display: block;
    margin: auto;
    
}

h2 {
    color: black;
    text-align: center;
    background-color:  #337ab7;
}

p {
    font-size: 20px;
    text-align:center;
}

