<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shop Products</title>
</head>

<body>


<div class="container">    
<% i = 1 %>
<% @products.each do |categories,products| %>
    <% products.each do |product| %>
    <% if i % 3 == 0 %>
    <div class="row">
    <% end %>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <%= link_to product.name, product_path(product.permalink) %>
            </div>

            <div class="panel-body">
                <% if product.default_image %>
                    <%= image_tag product.default_image.path, :width=> '200px' %>
                <% end %>
            
            </div>
                <div class="panel-footer"><%= product.short_description %></div>
            </div>
        </div>


    <% if i % 3 == 0 %>
    </div>
    <% end %>
    <% i = i + 1 %>

<%end%>
<%end%>
</div><br>
<footer class="container-fluid text-center">
    <p>Online Store Copyright</p>  
    <form class="form-inline">Get deals:
        <input type="email" class="form-control" size="50" placeholder="Email Address">
        <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
</footer>

</body>
</html>
