<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shop Products</title>
</head>

<body>
<header>
    <div class="container-fluid text-center">
    <h1>Products</h1>
    </div>
</header>

<div class="container">    
<% i = 1 %>
<% @products.each do |categories,products| %>
    <% products.each do |product| %>
    <% if i % 3 == 0 %>
    <div class="row">
    <% end %>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="panel-group">
               

            <div class="panel-body">
                <%= link_to product_path(product.permalink) do %>
                <% if product.default_image %>
                    <%= image_tag product.default_image.path, :class=>"img-responsive"%>
                <% end %>
                <%end %>
            
            </div>
                <div class="panel-footer"><%= link_to product.name, product_path(product.permalink) %></div>
            </div>
        </div>


    <% if i % 3 == 0 %>
    </div>
    <% end %>
    <% i = i + 1 %>
<%end%>
<%end%>
</div>

<body id= "productindex-body"</body>
</body>
</html>
