<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shop Products</title>
</head>

<body>
<header>
    <div class="container-fluid text-center">
    <h1>Products</h1>
    </div>
</header>

<div class="container">    
<% i = 1 %>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        
        <% @products.each do |categories,products| %>
            
            <div>
                <h3 id = 'categories'><%= categories.name %></h3>
            </div>
            
            
            <% products.each do |product| %>
            
                <div class="panel-group">
                    
                    
                    <div class="panel-body">
                        <%= link_to product_path(product.permalink) do %>
                        <% if product.default_image %>
                            <%= image_tag product.default_image.path, :class=>"img-responsive"%>
                        <% end %>
                    <%end %>
                    
                    </div>
                    <div class="panel-footer">
                        <%= link_to product.name, product_path(product.permalink) %>
                    </div>
                    
                    
                </div>
                
                
            <% end %>
        <%end%>
    </div>

</div>

<body id= "productindex-body"</body>
</body>
</html>
